@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Inter", "Segoe UI", system-ui, -apple-system, sans-serif;
  background: #121214;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  height: 100%;
  background: #121214;
  display: flex;
  justify-content: center;
}

#root {
  width: 100%;
  max-width: 390px;
  min-height: 100%;
  background: #f8f9fe;
  position: relative;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #5e4feb;
  border-radius: 99px;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
